**/target/
*.iml
.classpath
.idea
.project
.settings
abandoned/
bin/
generated-srcs/
out/
*.iml
.DS_Store

*.ipr

*.iws

robots-control-plane-spec/spec-validation-output.txt
robots-control-plane-spec/spec-validation-output-release.txt